a {
  color: goldenrod;
}
a:hover {
  color: lightgoldenrodyellow;
  font-weight: bolder;
  transition-duration: 0.1s;
  position: relative;
}

body {
  color: lavender;
}
h1 {
  color: lavender;
  text-decoration: underline;
}
h2 {
  color: lavender;
}
img:hover {
  filter: saturate(300%);
}
img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
.headerlink {
  color: lavender;
}
.headerlink:hover {
  font-weight: bold;
}
.bodylink:hover {
  transition-duration: 0.3s;
  font-weight: bold;
  color: rgb(183, 183, 189);
}
.bodylink {
  color: lavender;
  text-decoration: none;
}
body {
  background-color: rgb(35, 39, 42);
}
