a {
  color: rgb(200, 30, 19);
}
a:hover {
  color: orangered;
}

body {
  color: lavender;
  width: auto;
  height: auto;
}
h1 {
  color: rgb(200, 30, 19);
  font-size: 40px;
  font-weight: bolders;
}
h2 {
  color: lavender;
}
img {
  border-radius: 10px;
  height: 70%;
  margin-top: 5%;
  justify-content: flex-end;
  margin-right: 10%;
}
body {
  background-color: rgb(35, 39, 42);
}
main {
  display: flex;
  flex-wrap: wrap;
}
ol {
  color: rgb(228, 207, 153);
}
ul {
  color: rgb(35, 39, 42);
}
a {
  text-decoration: none;
}
html {
  zoom: 100%;
  font-family: monospace;
}
li {
  height: auto;
  width: auto;
}
main {
  width: fit-content;
  height: fit-content;
}
.Links {
  font-size: 70px;
  text-decoration: none;
  margin-left: 10%;
  max-width: fit-content;
}
.hourglass {
  height: 50%;
}
li {
  margin: 50px;
}
.BulletList {
  font-size: 25px;
  color: orangered;
}
